.color{
    font-weight:bold;
    color:white;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #a3a6db;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 72%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 74%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 68%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 5s;
}
.background li:nth-child(3) {
    left: 43%;
    width: 126px;
    height: 126px;
    bottom: -126px;
    animation-delay: 7s;
}
.background li:nth-child(4) {
    left: 0%;
    width: 178px;
    height: 178px;
    bottom: -178px;
    animation-delay: 18s;
}
.background li:nth-child(5) {
    left: 26%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 13s;
}
.background li:nth-child(6) {
    left: 70%;
    width: 158px;
    height: 158px;
    bottom: -158px;
    animation-delay: 29s;
}
.background li:nth-child(7) {
    left: 68%;
    width: 127px;
    height: 127px;
    bottom: -127px;
    animation-delay: 19s;
}
.background li:nth-child(8) {
    left: 75%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 38s;
}
.background li:nth-child(9) {
    left: 42%;
    width: 190px;
    height: 190px;
    bottom: -190px;
    animation-delay: 6s;
}